PORT=3000
API_URL=http://localhost:3000
AVATAR_URL=http://localhost:3000/files

# Access Token
JWT_SECRET=
JWT_EXPIRES_IN="10s"

# Refresh Token
REFRESH_SECRET=
REFRESH_EXPIRES_IN="10m"
REFRESH_DURATION=600000
